[init]
	defaultBranch = main
[user]
	email = varunrawat343@gmail.com
	name = RunAtTekky
[alias]
	s = status
	c = commit
	co = checkout
	br = branch
	l = log --oneline
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
